/* Top Section Styles */
/* Colors: #E0FBFC #C2DFE3 #9DB4C0 #5C6B73 #253237*/
html {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

.tie {
    width: 100%;
    height: 1rem;
    background-color: #393f42;
}

section.topsection {
    margin: 0;
    padding: 0;
    background-color: #d6e8eb;
    border-bottom: solid 1rem #393f42;
}

.MainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.icon {
    width: 80px;
    padding-top: 30px;
}

#title {
    font-size: 58px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: black;

    margin: 10px 0px 10px 0px;
}

ul.navbar {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;

    justify-content: center;
    margin: 0;
}

li.navbox {
    padding: 15px;
}

a.navlink {
    font-size: 1.25rem;
    text-decoration: none;
    color: #6a7074;
}

a.navlink:hover {
    color: black;
}

/* Main Content Styles */

.maincontent {
    margin: 0px;
    padding: 0px;
}

section.hero {
    display: flex;
    justify-content: center;
}

video.herovid {
    margin: 0px;
}

h3#herocaption {
    font-size: 3rem;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;

    position: absolute;
    text-align: center;
    top: 550px;
    
}

@media only screen and (max-width: 685px) {
    h3#herocaption {
        visibility: hidden;
    }
}
/* Mission Styles  */
.mission {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 10px 0px 50px 0px;
    margin: 10px 0px 10px 0px;

    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid black;
    border-top: 1px solid black; 

    background-color: #dde8ea;
}

h2.statementhead {
    font-size: 1.75rem;
    text-decoration: underline;
    text-align: center;
    font-style: italic;
}

h2.statementcontent {
   font-size: 1.25rem;
   text-align: center;
}



/* Gallery Styles */

.gallery {
    margin: 0px auto;
    padding: 0px;
    background-color: #253237;     
}

.gallerycontainer {
    margin: 0 auto; 
    width: auto;
    height: auto;
    padding: 0rem 2rem 0rem 2rem;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

img.galryimg {
    flex-basis: 250px;
    width: 270px;
    height: 395px;
    object-fit: cover;
    margin: 10px;
    border: solid black 2.5px;
}

img.landscapeimg {
    width: 500px;
    height: auto;
    object-fit: cover;
    margin: 10px;
    border: solid black 2.5px;

}


/* Employee Description Styles */

.employees {
    font-family: 'Cormorant Garamond', serif;
    background-color: #dfeeee;
}

.employeescontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.empbox {
    display: flex;
    flex-flow: column;
    padding: 5px;
    align-items: center;

    border: solid #253237 1px;
    /* flex-basis: 33%; */
    margin: 10px;
}

.empbox:hover {
    background-color: #c7d8db;
}

img.employeepic {
    width: 80%;
    height: 235px;
}

img.employeepicvert {
    height: 235px;
    object-fit: contain;
    
}

h1.name {
    font-size: 1.75rem;
    text-align: center;
}

h2.sub {
    font-size: 1rem;
    text-align: center;

}